{% extends 'main.html' %}
{% block content %}
    <h1 style="text-align: center;"><img src = "{{url_for('static',filename='images/icon.png')}}" width=100> Outfit Color Calculator</h1>
    <form style="text-align: center;", method="post">
        <label for="color">Choose Your Main Color :</label>
      <!-- looping untuk menampilkan pilihan pada dropdown -->
      <select name="selected_color">
        {% for c in colors %}
        <option value="{{ c }}">{{ c }}</option>
        {% endfor %}
      </select>
      <!-- submit button -->
      <button type="submit" class="btn btn-default btn-primary">Check</button>
      <!-- jika user sudah memilih warna, menampilkan warna tersebut (disimpan di variabel sc)-->
      {% if sc!= '' %}
        <!-- menampilkan warna tersebut, urlnya disimpan di variabel color_img -->
        <p>You chose {{sc}} </p><img src="{{url_for('static',filename=color_img)}}", height="100">
      {%endif%}
      <!-- menampilkan pasangan dari warna, url nya disimpan di variabel img_src-->
      {% if img_src!=''%}
        <br/><br/>You may want to pair it with these colors : <br/><br/>
        <p><img src="{{url_for('static',filename=img_src)}}", height=100></p>
      {%endif%}
    </form>
{% endblock %}
    