<nav class="navbar" style="background-color: #41b7dc;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('main')}}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('size')}}">Clothes Size Prediction</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('color')}}">Outfit Color Calculator</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('skin')}}">Outfit for My Skintone</a>
          </li>

        </ul>
        
      </div>
    </div>
  </nav>
