<nav class="navbar" style="background-color: #41b7dc;">
    <div class="container-fluid">
      <div class="w-40">
        <a class="navbar-brand" href="{{url_for('main')}}">Home</a>
      </div>
        <a class="nav-link active" href="{{url_for('size')}}">Clothes Size Prediction</a>
        <div style="opacity:0">-</div>
        <a class="nav-link active" href="{{url_for('color')}}">Outfit Color Calculator</a>
        <div style="opacity:0">-</div>
        <a class="nav-link active" href="{{url_for('skin')}}">Outfit for My Skintone</a>
      <div class="w-50"></div>
    </div>
  </nav>
