{% extends 'main.html' %}
{% block content %}
    <h1 style="text-align: center;"><img src = "{{url_for('static',filename='images/icon.png')}}" width=100> Outfit for My Skintone</h1>
    <form style="text-align: center;", method="post">
        <br/><img src = "{{url_for('static',filename='images/skintone.png')}}" width=600><br/><br/>
        <label for="color">Choose Your Skintone :</label>
      <!-- looping untuk menampilkan pilihan pada dropdown -->
      <select name="selected_skin">
        {% for s in skin %}
        <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
      </select>
      <!-- submit button -->
      <button type="submit" class="btn btn-default btn-primary">Check</button>
      <!-- jika user sudah memilih warna kulit, menampilkan warna tersebut (disimpan di variabel sk)-->
      {% if sk!= '' %}
        <!-- menampilkan warna kulit tersebut, urlnya disimpan di variabel skin_img -->
        <p>You chose {{sk}}
      {%endif%}
      <!-- menampilkan pasangan dari warna, url nya disimpan di variabel img_src-->
      {% if img_src!=''%}
        <br/><br/>These colors will suit you well! <br/><br/>
        <p><img src="{{url_for('static',filename=img_src)}}", height=100></p>
      {%endif%}
    </form>
{% endblock %}
